.text-center {
	text-align: center;
}

.text-white {
	color: white;
}

.bold {
	font-weight: bold;
}

/* .main-heading {
    text-align: center;
    background: yellow;
    color: red;
    border: 1px solid red;
    width: 75%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #ccc;
} */

#coffee-box {
    background-color: brown;
}

#tea-box {
    background-color: #6f4e37;
}

#cold-drinks-box {
    background-color: chocolate;
}

.blue-text {
    color: blue;
}

#red-text {
    color: red;
}

aside {
    width: 40%;
    padding-left: .5rem;
    margin: .5rem;
    float: right;
    border-left: 1px solid navy;
    font-style: italic;
    color: navy;
}
section {
	display: flex;
}

section p {
	width: 60%;
}